*,
html,
body {
	font-family: 'Open sans', sans-serif;
}

/* Works on Firefox */
.scroll-custom {
	scrollbar-width: 8px;
	scrollbar-color: #a1a3a6;
}

/* Works on Chrome, Edge, and Safari */
.scroll-custom::-webkit-scrollbar {
	height: 8px;
	width: 8px;
	background-color: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #a1a3a6;
}
