.svg {
	path {
		stroke: currentColor;
		transition: all 0.3s ease;
	}
	line {
		stroke: currentColor;
		transition: all 0.3s ease;
	}
	rect {
		stroke: currentColor;
		transition: all 0.3s ease;
	}
	circle {
		stroke: currentColor;
		transition: all 0.3s ease;
	}
}

// Normal fill
.svgFillPath {
	path {
		fill: currentColor;
		transition: all 0.3s ease;
	}
}
.svgFillCircle {
	circle {
		fill: currentColor;
		transition: all 0.3s ease;
	}
}
.svgFillLine {
	line {
		fill: currentColor;
		transition: all 0.3s ease;
	}
}
.svgFillRect {
	rect {
		fill: currentColor;
		transition: all 0.3s ease;
	}
}

// Fill Gray
.svgFillGray {
	rect {
		fill: #b4b4b4;
		transition: all 0.3s ease;
	}
}
.svgFillGrayCircle {
	circle {
		fill: #b4b4b4;
		transition: all 0.3s ease;
	}
}
.svgFillGrayPath {
	path {
		fill: #b4b4b4;
		transition: all 0.3s ease;
	}
}
.svgFillGrayLine {
	line {
		fill: #b4b4b4;
		transition: all 0.3s ease;
	}
}

// Fill white
.svgFillWhitePath {
	path {
		fill: #fff;
		transition: all 0.3s ease;
	}
}
.svgFillWhiteRect {
	rect {
		fill: #fff;
		transition: all 0.3s ease;
	}
}
.svgFillWhiteCircle {
	circle {
		fill: #fff;
		transition: all 0.3s ease;
	}
}
.svgFillWhiteLine {
	line {
		fill: #fff;
		transition: all 0.3s ease;
	}
}
.svgFillWhitePathStroke {
	path {
		fill: #fff;
		stroke: #fff;
		transition: all 0.3s ease;
	}
}

// Fill dark gray
.svgFillDarkGrayPath {
	path {
		fill: #565a5f;
		transition: all 0.3s ease;
	}
}

.svgFillDarkGrayLine {
	line {
		fill: #565a5f;
		transition: all 0.3s ease;
	}
}

.svgFillDarkGrayCircle {
	circle {
		fill: #565a5f;
		transition: all 0.3s ease;
	}
}

.svgFillDarkGrayRect {
	rect {
		fill: #565a5f;
		transition: all 0.3s ease;
	}
}

// Fill primary
.svgFillPrimary {
	rect {
		fill: #ff6c00;
		transition: all 0.3s ease;
	}
}
.svgFillPrimaryCircle {
	circle {
		fill: #ff6c00;
		transition: all 0.3s ease;
	}
}
.svgFillPrimaryLine {
	line {
		fill: #ff6c00;
		stroke: #ff6c00;
		transition: all 0.3s ease;
	}
}
.svgFillPrimaryPath {
	path {
		fill: #ff6c00;
		transition: all 0.3s ease;
	}
}

// FIll Social media
.svgFillBlueFacebookPath {
	path {
		fill: #4267b2;
		transition: all 0.3s ease;
	}
}
.svgFillBlueLinkedinPath {
	path {
		fill: #0072b1;
		transition: all 0.3s ease;
	}
}
.svgFillBlueTwitterPath {
	path {
		fill: #1da1f2;
		transition: all 0.3s ease;
	}
}
.svgFillGreenWhatsappPath {
	path {
		fill: #25d366;
		transition: all 0.3s ease;
	}
}
